body {
  font-family: 'Righteous', cursive;
}

.text-yellow {
  color: #FB9937;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.semester-header h2 {
  color: #7537fb;
  text-align: center;
}